---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
1.  He Z., Tran H., Pack M.Y., "Central Collapse of non-Newtonian Droplets", American Physical Society, DFD, Washington, DC, 2023
2.	He Z., Tran H., Pack M.Y., "Collapse of non-Newtonian droplets", Bluebonnet Symposium. SMU, Dallas, TX, 2023
3.	He Z., Tran H., Pack M.Y., "Air entrainment dynamics under bouncing Boger droplets", American Physical Society, DFD, Indianapolis, IN, 2022.
4.	Tran H., He Z., Pack M.Y., "The interplay of dropwise condensation and drop shedding mechanism on biphilic patterned surfaces", American Physical Society, DFD, Indianapolis, IN, 2022.
5.	He Z., Tran H., Pack M.Y., "Air entrainment dynamics under xanthan gum droplets from dilute to semi-dilute regimes", American Chemical Society, Colloid&Surface Science Symposium, Golden, CO, 2022.
6.	Tran H., He Z., Pack M.Y., "Dropwise condensation on biphilic patterned surfaces with multiple thermal conductivities", American Chemical Society, Colloid & Surface Science Symposium, Golden, CO, 2022.
7.	He Z., Tran H., Pack M.Y., " Air entrainment dynamics under xanthan gum droplets". Bluebonnet Symposium. University of Texas at Dallas, Dallas, TX, 2022.
8.	Li J., He Z., Pack M., "Mesler entrainment-like microbubble entrainment on immiscible thin liquid films", American Physical Society, DFD, Phoenix, AZ, 2021.
9.	Tran H., He Z., Pack M., "Drop oscillation dynamics on viscous thin immiscible liquid films: slip to pin transitions", American Physical Society, DFD, Phoenix, AZ, 2021.
10.	Felton O., He Z., Pack M., "How does relative humidity affect the way water droplets interact with a surface?", American Physical Society, DFD, Phoenix, AZ, 2021.
11.	He Z., Tran H., Pack M., "Entanglement attenuates the entrained air film underneath polymeric droplets", American Physical Society, DFD, Phoenix, AZ, 2021.
12.	He Z., Tran H., Pack M., "Drop bouncing dynamics on ultra-thin films", American Physical Society, DFD, Phoenix, AZ, 2021.
13.	He. Z., Tran H., Pack M., "The influence of polymer entanglement on air entrainment dynamics under droplet impacts", Society of Rheology 92nd Annual Meeting, Bangor, ME, 2021.
14.	He Z., Tran H., Pack M., "Effect of polymer concentrations on air entrainment dynamics", American Chemical Society, Colloid & Surface Science Symposium, University Park, PA, 2021.
15.	Tran H., He Z., Sakakeeny J., Ling S., Pack M., "Drop oscillation dynamics on thin immiscible liquid films", American Chemical Society, Colloid & Surface Science Symposium, University Park, PA, 2021.
16.	He Z., Tran H., Pack M., "Drop bouncing dynamics on draining films: the influence of the entrained air layer", American Physical Society, DFD, Chicago, IL, 2020.
17.	He. Z., Tran H., Pack M., "Drop bouncing dynamics on draining films: the influence of the entrained air layer", American Chemical Society, Colloid & Surface Science Symposium, Houston, TX, 2020.

OTHER PRESENTATIONS
i.	Invited Talks
1.	He, Z., Tran, H., & Pack, M. Y. (2023). Capillary wave-assisted Central Collapse of non-Newtonian Droplets. University of Minnesota Twin Cities.
2.	He, Z., Tran, H., & Pack, M. (2022). Air entrainment dynamics under shear thinning droplets. Bear Seminar. Baylor University.
3.	He, Z., Tran, H., & Pack, M. (2021). Entanglement attenuates the entrained air film underneath polymeric droplets. Bear Seminar. Baylor University.
4.	He, Z., Tran, H., & Pack, M. Y. (2021). Drop bouncing dynamics on ultrathin films. Bear Seminar. Baylor University.
ii.	Poster Presentations
1.	Suzuki B., Park A., He Z., Pack M., "Dye, polymer and light interactions using the air entrainment dynamics of droplets", American Physical Society, DFD, Indianapolis, IN, 2022.
2.	Park A., He Z., Pack M., "Dye & light effects on droplet pinch-off dynamics", American Physical Society, DFD, Indianapolis, IN, 2022.
3.	 He Z., Tran H., Pack M., "Air entrainment dynamics under shear-thinning droplets", Society of Rheology, Chicago, IL, 2022.

{% if site.talkmap_link == true %}

{%<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> %}

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
